.root {
  position: relative;
  border-radius: 15px;
  padding: 20px 25px;
  cursor: pointer;
  $border: 2px;
  color: #fff;
  background: white;
  background-clip: padding-box;
  border: solid $border #0000001a;
  height: 180px;
  width: 400px;
  margin-top: 40px;
  margin-left: 70px;
  animation: wobble 1s 1;
  

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(
      108.5deg,
      #72aaff -0.22%,
      #b99def 25.3%,
      #ff8fe0 54.47%,
      #ffc67b 79.47%,
      #fff621 99.78%
    );
  }

  .title {
    margin-bottom: 20px;
  }

  .event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px 2px;
    
    p {
      color: black;
      margin-left: 5px;
    }

    button {
        background: #fff;
        color: red;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
    }
  }

  @keyframes wobble {
    50% {
      transform: translateX(-15px);
    }
  }
}
