@import "../../scss/variables";

.root {
  width: 340px;
  height: 100%;
  transition: 0.5s;
  border-right: 1px solid black;
  overflow: auto !important;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    padding-bottom: 22px;
    margin-bottom: 18px;
    border-bottom: 1px solid #0000001a;

    button {
      background: linear-gradient(
        107.14deg,
        #72aaff -16.57%,
        #b99def 18.13%,
        #ff8fe0 57.79%,
        #ffc67b 91.78%,
        #fff621 119.4%
      );
      box-shadow: 0px 4px 20px 0px #af9ff299;
      border-radius: 15px;
      border: none;
      padding: 6px 28px;
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }
}
